@media only screen and (max-width: 414px) {
  .tp-kbimg {
    transform: translate3d(200px, 0px, 0px) scale(1.1, 1.1) !important;
  }
  .tp-kbimg-wrap {
    transform: translate3d(-798px, 0px, 0px) !important;
  }
}

@media screen and (min-width: 414px) and (max-width: 600px) {
  .tp-kbimg {
    transform: translate3d(45px, 0px, 0px) scale(1.1, 1.1) !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 820px) {
  .tp-kbimg {
    transform: translate3d(45px, 0px, 0px) scale(1.1, 1.1) !important;
  }
  .tp-kbimg-wrap {
    transform: translate3d(-966px, 0px, 0px) !important;
  }
}
